<div class="tabs">
  <fa-icon [icon]="ball" class="fa-5x  iconsColor"></fa-icon>
</div>
<div class="tabwrapper">
  <div class="tabs mb-5">
    <div class=" shadow p-3 homeCont">
      <fa-icon [icon]="home" class=" fa-2x iconsColor"></fa-icon>
    </div>
  </div>
  <div class="tabs mb-5">
    <span class=""><fa-icon [icon]="signalIcon" class=" fa-1x font-weight-bolder iconsColor"></fa-icon></span>
  </div>
  <div class="tabs mb-5">
    <fa-icon [icon]="wallet" class="fa-1x iconsColor"></fa-icon>
  </div>
  <div class="tabs">
    <fa-icon [icon]="listIcon" class="fa-1x iconsColor"></fa-icon>
  </div>
  <div class="tabs setting">
  <div class=" shadow p-3 homeCont">
    <fa-icon [icon]="setting" class="fa-2x iconsColor"></fa-icon>
  </div>
  </div>
</div>